.chart-card-mini{
  padding: 6px;
  &:first-child{
    padding-left: 0;
  }
  &:last-child{
    padding-right: 0;
  }
  .ant-card-body{
    padding: 12px;
  }
  .card-wrap{
    display: flex;
  }
  .left-icon{
    flex:0 0 80px;
    border-radius: 50%;
    text-align: center;
    height: 80px;
    color: #fff;
    .show-icon{
      font-size: 50px;
      margin-top: 15px;
    }
  }
  .chart-right{
    flex:auto;
    background-color: #f3f3f3;
    height:80px;
    margin-left: 12px;
    padding-left: 18px;
    padding-top: 10px;
    border-radius: 2px;
    overflow: hidden;
    div.title{
      color: #999;
    }
    div{
      line-height: 30px;
      font-size: 16px;
      span{
        margin-right: 2px;
        font-size: 22px;
      }
    }
  }
}
.chart-wrap{
  height: 500px;
  background-color: #f9f9f9;
  .chart-title{
    flex-basis: 100%;
    height: 50px;
    background-color: #aaa;
  }
}
.chart-title{
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding-left: 35px;
  color: #000;
  background-color: #ccc;
  .line{
    display: inline-block;
    width: 45px;
    height: 3px;
    vertical-align: middle;
    border-radius: 2px;
    margin-left: 6px;
  }
  .place-order{
    @extend .line;
    background-color: #1890FF;
    margin-right: 20px;
  }
  .ok-order{
    @extend .line;
    background-color: #2FC25B;
  }
}
.chart-wrap-left{
  display: flex;
  display: -webkit-flex;
  height: 100%;
  width: 180px;
  float: left;
  border-right:1px solid #ccc;
  padding: 10px;
  justify-content: center;
  align-items: center;
  div{
    line-height: 30px;
  }
  .left-num{
    color: red;
    font-size: 20px;
    margin-right: 2px;
  }
  .chart-increase{
    color: red;
    font-size: 20px;
    margin-right: 2px;
  }
  .chart-decrease{
    color: #009966;
    font-size: 20px;
    margin-right: 2px;
  }
  .chart-icon{
    margin-right: 1px;
  }
}
.chart-wrap-right{
  //flex-grow:1;
  height: 100%;
  margin-left: 180px;
  position: relative;
  .chart-filter{
    position: absolute;
    padding: 4px 12px;
    z-index: 9;
    right: 0;
    top:10px;
  }
}